// Universal Requirements

The app is built for Android tablets running Android 13 or later at sizes of 55", 65", 75", or 86" large. They offer 2K and 4K visual experiences. Pixel density needs to accommodate both resolutions to ensure a consistent user experience.

App design should be consistent across intents. It should use up-to-date Kotlin best practices, and accommodate requirements for Android 13 or later, including the ability to run in freeform windows. This build uses build.gradle.kts, libs.versions.toml, Hilt data injection, Room database, file fragments, and UUIDs. 

Only Screen Mask opens full screen. All other app intents open windowed. Any area of the screen not covered by the app window can be access with pass-through touch events (such as writing on a pen or opening another app). Windows can be moved with a single-finger drag, but can never pass beyond the screen's edge. Windows can be resized with a two-finger pinching motion. If a second finger is added while dragging, it is ignored. If one finger is lifted while resizing, the window is not moved. A movement buffer should be included to offset normal human jostling from being incorrectly interpreted as movement.

With the exception of About (which only allows one) and the Dice mode of Randomizers (which allows seven), all app intents allow up to four "instances" to be created. Instance or window are used colloquially to refer to the user experience of there being four windowed clocks or four windowed spin dials. These may not actually be instances in a technical sense. After its initial launch, an app intent retains the preferences of the last window open. When it is launched again in the future, those preferences will be applied to the new instance. While an app intent is active, the preferences of all windows are kept so that all windows can be restored following a crash or onDestroy event.

Each app intent has its own user settings. Unless specified, settings apply only to the window from which the settings menu was opened. That window will be highlighted with a yellow border. That border will disappear when the settings menu is closed. When a new instance of an app intent is being created, it adopts the preferences of the instnace from which it was cloned. When a window is closed, its preferences are cleared unless it was the final window to be closed.

Messages should be delivered by snackbars instead of toast messages. Because of the size of the tablets, toast messages are commonly missed. Snackbars should appear near the button that triggered them.

All text (except for log text) should be implemented as strings to allow for translation. Text is described for left-to-right languages, with the expectation that Android will properly accommodate right-to-left languages. This not only applies to the dirctionality of the script, but placement of text UI. This is called out whenever possible but should be considered a universal rule.

Icons are typically displayed without text to keep the interface neat. Users may open tool tip windows by long-pressing on an icon. These tool tips include titles for the icon to meet accessibility standards.

Wherever necessary, the design should meet WCAG 2.2 AA standards. This occurs most often with color contrast and icon identification. Except where noted, app intents use a predefined list of color options (PurramidPalette) that are designed to meet contrast standards.